<launch>
    <node ns="zivid_camera" name="zivid_camera" pkg="zivid_camera" type="zivid_camera_node" output="screen"></node>

    <node ns="kuka_pcd_sampler" name="kuka_pcd_sampler" pkg="grasping_demo" type="kuka_pcd_sampler.py" output="screen">
        <param name="pcd_saving_path" value="none" type="str"/>
    </node>
</launch>
