<launch>
    <arg name="start_simulator" default="true" doc="Start a simulated tracking system with a trivial noise model" />

    <arg name="namespace_prefix" default="demo_handeyecalibration" />
    <arg name="eye_on_hand" default="false" />

    <arg name="move_group_namespace" value="/iiwa" />
    <arg name="move_group" value="manipulator" />
    <arg name="robot_base_frame" value="iiwa_link_0" />
    <arg name="robot_effector_frame" value="iiwa_link_ee" />
    <arg name="tracking_base_frame" value="zivid_optical_frame" />
    <arg name="tracking_marker_frame" value="camera_marker" />

    <include file="$(find iiwa_moveit)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="false" />
    </include>

    <include file="$(find easy_handeye)/launch/calibrate.launch">
        <arg name="eye_on_hand" value="false"/>
        <arg name="namespace_prefix" value="my"/>
        <arg name="start_rviz" value="true"/>
        <arg name="move_group_namespace" value="$(arg move_group_namespace)"/>
        <arg name="move_group" value="$(arg move_group)"/>

        <!-- fill in the following parameters according to your robot's published tf frames -->
        <arg name="robot_base_frame" value="$(arg robot_base_frame)"/>
        <arg name="robot_effector_frame" value="$(arg robot_effector_frame)"/>

        <!-- fill in the following parameters according to your tracking system's published tf frames -->
        <arg name="tracking_base_frame" value="$(arg tracking_base_frame)"/>
        <arg name="tracking_marker_frame" value="$(arg tracking_marker_frame)"/>
    </include>
</launch>
